body {
    margin: 0 auto;
    max-width: 1280px;
}

.products-container {
    display: flex;
    flex-direction: column;
}

.product-container {
    display: flex;
    flex-direction: row;
}

.product-info-container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr 2fr;
    flex-grow: 3;
}
